<div>
    <h3>New Insurance Info Added</h3>
    <div>
        <p>
            Name : <%= data?.name%>
        </p>
        <p>
            Email : <%= data?.email%>
        </p>
        <p>
            Phone : <%= data.contactNumber%>
        </p>
        <p>
            Insurance Type : <%= data.insuranceType%>
        </p>
        <p>
            Birth Date : <%= data.birthDate%>
        </p>
        <p>
            Address : <%= data.address%>
        </p>
        <p>
            City : <%= data.city%>
        </p>
        <p>
            State : <%= data.state%>
        </p>
        <p>
            Zip : <%= data.zip%>
        </p>
    </div>
</div>