<div>
    <h3>New Loan Info Added</h3>
    <div>
        <p>
            Name : <%= data?.name%>
        </p>
        <p>
            Email : <%= data?.email%>
        </p>
        <p>
            Phone : <%= data.contactNumber%>
        </p>
        <p>
            Loan Type : <%= data.loanType%>
        </p>
        <p>
            Birth Date : <%= data.birthDate%>
        </p>
        <p>
            Address : <%= data.address%>
        </p>
        <p>
            City : <%= data.city%>
        </p>
        <p>
            State : <%= data.state%>
        </p>
        <p>
            Zip : <%= data.zip%>
        </p>
    </div>
</div>